@import '../../assets/global.scss';
footer{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 2vw;
    line-height: 2.4vw;
    position: fixed;
    width: 94vw;
    height: 6vw;
    margin-left: 2.4vw;
    bottom: 5vw;
    border-radius: 15px;
    background-color:$secundary-color;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    color:$primary-color;
    .footer-home{
        padding: 10px 0px 0px 36px;
    }
    .footer-historial{
        padding: 12px
    }
    .image-mas{
        width: 70px;
        margin-left:30px;
        margin-top: -50px;
    }
    .text-ahorro{
        margin-left: 25px;
    }
    .footer-ahorro{
        padding: 12px;
    }
    .footer-perfil{
        padding: 5px;
    }
    .footer-mas{
            padding: 3px
        }

}